[workspace]
members = [
    "reffect",
    "reffect_api",
    "reffect_internal",
]
default-members = ["reffect"]
resolver = "2"

[workspace.dependencies]
windows = "0.58.0"

[patch."https://github.com/zerthox/gw2-reffect"]
reffect_internal = { path = "reffect_internal" }

[profile.release]
lto = "thin"
debug = "limited"
split-debuginfo = "packed"
