[package]
name = "reffect"
version = "0.1.0"
authors = ["Zerthox"]
edition = "2021"
description = "Customizable character effect displays"
rust-version = "1.76.0"

[dependencies]
enumflags2 = "0.7.9"
log = "0.4.18"
nexus = { git = "https://github.com/zerthox/nexus-rs", features = ["log", "mumble_json"] }
num_enum = "0.7.1"
open = "5.1.2"
rfd = { version = "0.14.1", default-features = false }
semver = { version = "1.0.17", features = ["serde"] }
serde = { version = "1.0.163", features = ["derive"] }
serde_json = "1.0.115"
strum = { version = "0.26.1", features = ["derive"] }
url = "2.5.0"
uuid = { version = "1.8.0", features = ["v4"], optional = true }

[build-dependencies]
winresource = "0.1.17"

[features]
default = []
guid = ["dep:uuid"]

[lib]
crate-type = ["cdylib"]

[package.metadata.winresource]
ProductName = "Reffect"
OriginalFilename = "reffect.dll"

[profile.release]
lto = "thin"
